<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>{{title}}</title>
  {{#if description}}
    <meta name='description' content='{{description}}' />
  {{/if}}
  <link rel='stylesheet' href='{{resolve-from-root "src/index.css"}}' />
  <link
    rel='stylesheet'
    href='/vendor/lightgallery/css/lightgallery.css'
  />
</head>
