{{! prettier-ignore }}
<div
  class="container max-w-container mx-auto flex-col justify-center bg-green py-6 sm:py-12 min-h-screen text-lg"
>
  <main class="bg-grey-200 mx-auto rounded-t-3xl text-grey-900">
    {{> @partial-block }}
  </main>
  {{> footer }}
</div>
