<div class="bg-grey-200 px-32 py-4 text-center">
  <div>{{text}}</div>
  <ul class="mt-8 flex flex-col items-center justify-center gap-8 md:flex-row">
    {{#if github}}
    <li><a href="{{github}}" class="underline">Download (GitHub)</a></li>
    {{/if}}{{#if wiki}}
    <li><a href="{{wiki}}" class="underline">Wiki</a></li>
    {{/if}}
    <li>
      <a
        href="https://www.paypal.com/donate/?hosted_button_id=9FARNUYBC9R3J"
        rel="nofollow"
      >
        <img
          src="https://camo.githubusercontent.com/70f11a607f4fc81717030a4a6aba231f37ac71c1e5d8c855dcf6ee5692ec62cc/68747470733a2f2f706963732e70617970616c2e636f6d2f30302f732f4e6a41324f5755305a6d45744e6a51344d4330304d575a684c546b35597a63744d3256685a4441314d7a67794d4451302f66696c652e504e47"
          width="140"
          alt="Donation Link"
          data-canonical-src="https://pics.paypal.com/00/s/NjA2OWU0ZmEtNjQ4MC00MWZhLTk5YzctM2VhZDA1MzgyMDQ0/file.PNG"
          style="max-width: 100%"
        />
      </a>
    </li>
  </ul>
</div>
